html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#content {
    color: white;
    font-size: 40px;
    background-color: rgb(96, 170, 80);
    text-align: center;
    margin: auto;
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

h1 {
    color: white;
    font-size: 20px;
}

.bt {
    font-size: 15px;
    height: 75px;
    width: 100%;
    text-align: center;
    align-content: center;
    background: transparent;
    color: white;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.bt:hover {
    background-color: green;
}

.bt:focus {
    outline: 0;
}

#C {
    width: 33.5%;
}

#CE {
    width: 50%;
}

#pm {
    width: 49.5%;
}

#divide {
    color: black;
}

#divide:hover {
    color: white;
}

#minus {
    color: black;
}

#minus:hover {
    color: white;
}

#X {
    color: black;
}

#X:hover {
    color: white;
}

#plus {
    color: black;
}

#plus:hover {
    color: white;
}

#bt {
    display: flex;
    flex-direction: row;
}

.img {
    height: 12px;
    width: 12px;
    text-align: center;
    align-content: center;
    padding: none;
    margin: none;
    color: white;
}

#input {
    margin: 0 auto;
    height: 50px;
    width: 99%;
    background: transparent;
    font-size: 1.1em;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}